<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>chat | SharedHTML</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/master.css">
  <!-- <link rel="stylesheet" href="css/estilologin.css"> -->
  <script src="/js/jquery-3.3.1.slim.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><code class="logo">&lsaquo;SharedHTML&rsaquo;</code></a>
    <!--<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <!--<section class="container login"> </section>-->
        <!--<a class="nav-link" href="#">Sign out</a>-->
        <span class="nomeUsuario badge badge-primary">usuário: </span>
        <a href="/shared" class="btn btn-sm btn-success">Próxima etapa</a>
        <!-- <span class="endIp badge badge-light">ip: </span> -->
        <a href="#" id="sair" class="btn btn-sm btn-danger">sair</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-4 ">
        <h1 class="title-section h5">Atividade</h1>
        <div id="atividade" style="padding: 5px;">

        </div>
      </div>
      <div class="col-md-5" style="border-right: 1px solid #ccc;" id="codigos">
        <h1 class="title-section h5">Visualizar códigos</h1>

        <button id="btncodigoParceiro" class="btn btn-sm btn-danger">Enviar código para o parceiro</button>
        <!-- <p><a href="#">Visualizar seu código</a></p>
                    <p><a href="#">Visualizar código do parceiro</a></p> -->
        <hr>
        <h5>Seu código</h5>

        <textarea style="width:100%; min-height: 200px;" id="txtmeucodigo" readonly></textarea>
        <!-- <h5>Código do parceiro</h5>
          <textarea style="width:100%; min-height: 200px;" id="txtcodigoparceiro"></textarea> -->
      </div>


      <div class="col-md-3" style="height: 100vh;">
        <h1 class="title-section h5">Chat</h1>
        <ul id="messages" style="height: 80vh; overflow: scroll;"></ul>
        <form action="" style="height: 10vh;">

          <div class="input-group">
            <input type="text" class="form-control w3-input" id="m" placeholder="Escreva aqui" aria-describedby="btnenviar" required autocomplete="off">
            <div class="input-group-prepend">
              <button class="input-group-text" id="btnenviar">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <script src="/socket.io/socket.io.js"></script>
  <!-- //CHAT -->
  <script src="/js/client/chat.js"></script>
  <script src="js/login/Login.js"></script>
  <script src="/js/client/carregarAtividade.js"></script>
  <script src="/js/client/carregarDadosInteracao.js"></script>

  <script>
    var socket = io();
    var sala = sessionStorage.getItem("sala");
    socket.on("connect", function() {
      socket.emit('codigoParceiro', sala);
    });
    //enviando mensagem
    $("#btncodigoParceiro").on("click", function() {
      socket.emit("enviarCodigoParaParceiro", sala, sessionStorage.getItem('nomeUsuario'), sessionStorage.getItem('codigo'));
      console.log(socket.id);
      return false;
    });

    //recebendo e inserindo na tela
    socket.on("receberCodigoParceiro", function(usuario, data) {
      if (usuario != sessionStorage.getItem('nomeUsuario')) {
        codigoParceiro = "<hr><h5>Código de " + usuario + "</h5><textarea style='width:100%; min-height: 200px;' id='txtcodigoparceiro' readonly>" + data + "</textarea>";
        $('#codigos').append(codigoParceiro);
      }
    });
    $('#txtmeucodigo').val((sessionStorage.getItem('codigo')) ? sessionStorage.getItem('codigo') : "");
  </script>
  <!-- para carregar página, um local e um emit -->
  <script src="/js/client/carregarDadosInteracao.js"></script>

</body>

</html>
